#menu {
  margin: 3rem 0;
  padding: 0rem 12rem;
}

#menu h1 {
  margin: 1em 0;
  text-align: center;
}

#menu--options {
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5rem;

  padding: 0;
  list-style: none;
}

.menu--box {
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 1px solid white;
}

.menu--box:hover {
  border: 1px solid black;
}

.menu--box h2 {
  margin: 0;
  padding: 1.5rem;
  text-align: center;
  
  font-weight: 700;
  background-color: rgb(255, 128, 128);
  border-radius: 5px 5px 0 0;
}

.menu--box img {
  display: block;
  width: 10rem;
  text-align: center;
  margin: auto auto;
  margin: auto auto 0 auto;
}

.menu--desc {
  margin: 0;
  padding: 0.5rem 1.5rem;
}
