.triage {
  margin: 3rem 0;
  padding: 0rem 12rem;
}

.triage--instruction {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 0.5rem 1.5rem;
  background-color: rgb(255, 0, 0, 25%);
  /* border-radius: 10px; */
}

.triage--instruction i {
  margin-right: 1rem;
  font-size: 3em;
}

.triage--instruction h2 {
  font-size: 2em;
}

.triage--choose {
  margin: 2rem 0;
}

.triage--choose h1 {
  margin: 1em 0;
  text-align: center;
}

.triage--options {
  width: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 0;
  list-style: none;
  list-style-position: inside;
}

.triage--divider {
  padding: 1px;
}

.triage--how-to {
  margin: 2rem 0;
}

.triage--how-to h2 {
  text-align: center;
}

.triage--how-to li {
  margin: 0.5em;
}

.triage--how-to-cards {
  /* max-width: 500; */
  display: flex;
  justify-content: space-around;
}