#triage {
  padding: 0rem 12rem;
}

#triage h1 {
  text-align: center;
}

#triage--options {
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 0;
  list-style: none;
  list-style-position: inside;
}
