#navbar {
  width: 100%;
  padding: 0rem 12rem;
  background-color: white;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: auto;
}

#navbar--logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}

#navbar--logo img {
  height: 8vmin;
  margin-right: 0.5rem;
}

#navbar--logo h1 {
  font-weight: 900;
}

#navbar--links {
  list-style: none;
  display: flex;
  align-items: center;
}

#navbar--links a {
  text-decoration: none;
  color: black;
}

#navbar--links a:hover {
  color: red;
}

.navbar--link-item {
  margin-left: 2rem;
}
