#warning {
  width: 100%;
  padding: 0rem 12rem;
  background-color: red;
  width: auto;

  display: flex;
  align-items: center;
  }

#warning--logo {
  color: white;
  margin-right: 1rem;
}

#warning--text {
  color: white;
}
